@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Начать работу с нашим сервисом вы можете, как только <a asp-controller="User" asp-action="Login">войдете в свой аккаунт</a>, или <a asp-controller="User" asp-action="Registration">зарегистрируетесь</a></p>
</div>
